<html>
  <head>
    <title>Admin</title>
    <style>
      label {
        display: inline-block;
        width: 150px;
      }
      section {
        margin: 8px;
        padding: 8px;
        border: 1px solid rgba(0,0,0,0.5);
      }
      .blob {
        border: 1px solid rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0.1);
        padding: 8px;
        max-height: 200px;
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    <h1>Admin</h1>
    <div class="blob"><pre>{{.Blob}}</pre></div>

    <form enctype="multipart/form-data" method="POST">

      <section>
        <label for="datecheck">Date check upload</label>
        <input type="checkbox" name="datecheck" />
      </section>

      <section>
        <label for="systems">Update systems</label>
        <input type="file" name="systems" />
        <button action="submit">Upload</button>
      </section>

      <section>
        <label for="check">Check System</label>
        <input type="text" name="check" value="{{.Check}}" />
        <button action="submit">Submit</button>
      </section>

    </form>
  </body>
</html>